TPV_SAAS_PORT=8090
TPV_SAAS_DB_URL=jdbc:postgresql://localhost:5433/tpv_erp_saas
TPV_SAAS_DB_USERNAME=tpv_erp_saas
TPV_SAAS_DB_PASSWORD=admin
TPV_SAAS_ADMIN_KEY=change-me
POSTGRES_DB=tpv_erp_saas
POSTGRES_USER=tpv_erp_saas
POSTGRES_PASSWORD=admin
